<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <title>Aquarium</title>
  </head>

  <body>
  <div class="container">
    <p class="panel left-panel"> 24h min {{ minimum.temperature }}°C at {{ minimum.read_datetime.strftime('%H:%M %d-%m-%Y') }}</p>
    <p class="panel center-panel">24h avg {{ average.temperature }}°C at {{ average.read_datetime.strftime('%H:%M %d-%m-%Y') }}</p>
    <p class="panel right-panel">24h max {{ maximum.temperature }}°C at {{ maximum.read_datetime.strftime('%H:%M %d-%m-%Y') }}</p>
    <div class="chart-container panel full-panel">
      <canvas id="temperature-chart"></canvas>
        <script type="text/javascript">
          {% include "temperature_chart.html" %}
        </script>
    </div>
  </div>

  </body>



  <!-- <script type="text/javascript" src="{{ url_for('static', filename='temp_chart.js') }}"></script> -->
</html>
